body{
    margin:0;
    background: radial-gradient(circle at top,#0b1220,#050814);
    font-family: Arial;
    color:white;
    text-align:center;
}

/* BAŞLIK */
h1{
    color:#00e5ff;
    margin-top:20px;
}

/* KÜRE ALANI */
#balls{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    margin-top:40px;
}

/* 🔵 ANA KÜRE */
.ball{
    width:90px;
    height:90px;
    border-radius:50%;
    margin:12px;

    display:flex;
    align-items:center;
    justify-content:center;

    font-size:30px;
    font-weight:bold;
    color:white;

    cursor:pointer;
    user-select:none;

    background: radial-gradient(circle at 30% 30%, #60a5fa, #1d4ed8);

    box-shadow:
        0 0 18px rgba(59,130,246,.7),
        inset -8px -8px 16px rgba(0,0,0,.3);

    transition:0.2s;
}

/* 🟠 BÜYÜK SAYI */
.big{
    background: radial-gradient(circle at 30% 30%, #fbbf24, #f97316);
    box-shadow:
        0 0 25px rgba(251,191,36,.8),
        inset -8px -8px 16px rgba(0,0,0,.3);
}

/* 🎯 SEÇİLİ KÜRE */
.ball:active{
    transform:scale(1.1);
}
