body{
    margin:0;
    font-family:Arial;
    background:#0b1220;
    color:white;
    text-align:center;
}

button{
    padding:10px 15px;
    margin:5px;
    cursor:pointer;
}

#main,#res{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    margin-top:10px;
}

.box{
    width:70px;
    height:70px;
    border-radius:50%;
    background:#1d4ed8;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:5px;
    cursor:pointer;
    font-size:18px;
}

.result{
    background:#6b21a8;
}
